
header{
	text-align: center;
	font-family: 'Fugaz One', cursive;
	color: #078010;
	font-size: 70px;
	background-color: lightgreen;
}
h1{
	font-family: 'Leckerli One', cursive;
	color: #B34E03;
	font-size: 40px;
	text-align: right;
}

.container{
	padding: 10px;
	margin: 10px;
	text-align: left;
	font-family: 'Days One', sans-serif;
	color: #0E5E14;
	font-size: 40px;
}
.foto{
	scale: 50%;
	position: absolute;
	top: 20px;
	left: 50px;
}
.video{
	scale: 70%;
	position: absolute;
	top: 70px;
	left: 0px;
}
aside{
	position: absolute;
	top: 45%;
	left: 10;
	font-size: 30px;
	font-family: 'Sintony', sans-serif;
	color: #58B303;
}
footer{
	font-size: 30px;
	font-family: 'News Cycle', sans-serif;
	position: absolute;
	bottom: 5px;
	left: 50%;
	color: #B24F13;
}